*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


@font-face {
	font-family: "web-yekan";
	src: url(../Fonts/Persian/WebYekan/WebYekan.woff) format(".woff");
}


body {
	font-family: "web-yekan";
	background-color: var(--main-lite-background);
	scroll-behavior: smooth;
	pointer-events: auto;
	height: 100vh;
}

.nav-text {
	transition: var(--main-transition);
	font-style: italic;
	color: black;
}
.nav-text:hover {
	transition: var(--main-transition);
	text-shadow: 2px 2px 5px rgb(54, 54, 54);
} 


a {
	text-decoration: none;
}

.slide-link {
	text-decoration: underline 1px rgb(151, 151, 151);
	color: ghostwhite;
	transition: all 0.2s;
}
.slide-link:hover{
	transition: all 0.2s;
	text-decoration: underline 2px ghostwhite;
	color: rgb(151, 151, 151);
}

ul li {
	text-decoration: none;
	list-style-type: none;
}


.card {
	background-color: #ffffffff;
	color: black;
	border-radius: var(--border-radius);
	border: none;
}

.text-border,
.card-img {
	border-radius: var(--border-radius);
}

.card-img:hover {
	box-shadow: 0 1rem 3rem rgba(var(--bs-body-color-rgb), 0.175) !important;
}

.card-btn {
	background-color: #0d6efd;
}

.slide-text {
	text-shadow: var(--text-shadow);
	font-size: 3vh;
}

.slide-footer-text {
	font-size: 2vh;
	text-shadow: var(--text-shadow);
}

input[type="text"],
select,
textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: var(--border-radius);
	box-sizing: border-box;
	resize: vertical;
}

label {
	padding: 12px 12px 12px 0;
	display: inline-block;
}

input[type="submit"] {
	background-color: var(--main-green-background);
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: var(--border-radius);
	cursor: pointer;
	float: right;
}

.pagination a {
	color: black;
	float: left;
	padding: 6px 12px;
	transition: var(--main-transition);
}

.pagination a.active {
	background-color: dodgerblue;
	color: white;
}

.pagination a:hover:not(.active) {
	background-color: var(--main-lite-background);
}

.animated-nav {
	display: inline-block;
	cursor: pointer;
}

.imdb {
	width: 35px;
	height: 35px;
}


.color-line {
	background-color: #0d6efd;
	color: #0d6efd;
	height: 3px;
}

.vl {
	border-left: 1.5px solid black;
	height: 20px;
}


.download-head-text {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.checked {
	color: orange;
}

.side {
	float: left;
	width: 15%;
	margin-top: 10px;
}

.middle {
	float: left;
	width: 70%;
	margin-top: 10px;
}

.right {
	text-align: right;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}


.back-to-top {
	border-radius: 0px;
	border-top-right-radius: 100%;
	width: 37px;
	height: 37px;
	background-color: var(--main-green-background);
}

.back-to-top:hover {
	background-color: var(--main-green-background);
}

.main-bi {
	font-size: 2.2rem;
	color: #7f7f7f;
	transition: var(--main-transition);
}
.main-bi:hover {
	color: var(--main-green-background);
	transition: var(--main-transition);
}

.title-text {
	position: relative;
	display: flex;
	align-items: center;
	font-size: 13px;
}

.fm-infos {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #6a89a9;
	float: right;
	width: 100%;
	font-size: 15px;
	font-weight: 400;
	margin-bottom: 8px;
	border-radius: var(--border-radius);
	
}

.fm-box-imdb {
	display: inline-flex;
	align-items: center;
	font-size: 12px;
	color: #565656 !important;
	padding-right: 4px;
}

.fm-infos strong {
	padding: 6px 10px;
	border-radius: 50px;
	display: inline-block;
	min-width: 90px;
	text-align: center;
	background: #dbedffa4;
	color: #041d3a;
}

.separator {
	flex: 1 1 0%;
	background: rgba(196, 196, 196, 0.233);
	height: 1px;
	margin: 0 20px;
}

.card-footer-text {
	font-size: 17px;
	font-weight: 500;
	background-color: #a6d1fca4;
	color: #002f64;
}

.aside-text {
	font-size: 15px;
}

.aside-pic {
	filter: none;
	transition: var(--main-transition);
	cursor: pointer;
	backface-visibility: hidden black;
}

.aside-pic:hover {
	opacity: 0.5;
	transition: var(--main-transition);
}


.aside-link {
	border: solid 1px #9ec5fe;
	border-radius: 10px !important;
	transition: var(--main-transition);
}

.aside-link a {
	color: #3f3f3f;
}

.aside-link:hover {
	transition: var(--main-transition);
	background-color: #00265f;
	color: ghostwhite;
}

.header-pill {
	background-color: var(--main-green-background);
	width: auto;
	color: ghostwhite;
}

.custom-label {
	border-radius: var(--border-radius);
}

.custom-dropdown {
	background-color: var(--main-lite-background);
	max-width: 200px;
	min-width: 100px;
	max-height: 300px;
	overflow-y: scroll;
	left: auto;
	right: 0;
	transition: all 0.3s;
}