
:root{
    --main-green-background:#1884ff;
    --main-lite-background:#f8f9fa;
    --main-transition: all 0.2s;
    --text-shadow: 2px 2px 2px #05314b ;
    --border-radius:14px;
    --main-blue-background:#cfe2ff;
}
